* {
  margin: 0px;
  padding: 0px; }

.index-texto h1 {
  color: white;
  font-size: large;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center; }

.index-texto h2 {
  color: #487a1f;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.index-texto h2 .index-texto-header-h2 {
  margin: 10px 0px 0px 52px;
  text-align: right;
  display: flex;
  justify-content: flex-start; }

.index-texto h3 {
  color: white;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  font-weight: lighter;
  font-style: italic; }

.index-texto h3 .index-texto-header-h3 {
  margin-left: 52px;
  display: flex;
  justify-content: flex-start; }

.index-texto h4 {
  color: white;
  font-size: 10px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 100%;
  padding-top: 0rem;
  display: flex;
  justify-content: center; }

/*Style header*/
.header-barra_menu {
  background-color: #8293848b;
  position: sticky; }

/*Fin Style header*/
footer {
  display: flex;
  position: static;
  background-color: #8293848b;
  height: 90px;
  align-items: center;
  justify-content: center; }
  footer .social-media {
    margin-left: 10px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center; }
    footer .social-media .red-social {
      margin-right: 10px;
      height: 50px;
      width: 50px;
      border-radius: 10%; }
      footer .social-media .red-social:hover {
        transform: scale(1.1) translateY(-4px);
        transition: all 0.5s; }

.whatsapp {
  position: fixed;
  bottom: 100px;
  right: 50px;
  height: 50px;
  width: 50px;
  border-radius: 10%;
  z-index: 5; }
  .whatsapp:hover {
    transform: scale(1.5);
    filter: invert(100%);
    transition: all 1s; }

/* FIn style whatsapp */
.index-texto h1 {
  color: white;
  font-size: large;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center; }

.index-texto h2 {
  color: #487a1f;
  font-size: 40px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.index-texto h2 .index-texto-header-h2 {
  margin: 10px 0px 0px 52px;
  text-align: right;
  display: flex;
  justify-content: flex-start; }

.index-texto h3 {
  color: white;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  font-weight: lighter;
  font-style: italic; }

.index-texto h3 .index-texto-header-h3 {
  margin-left: 52px;
  display: flex;
  justify-content: flex-start; }

.index-texto h4 {
  color: white;
  font-size: 10px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 100%;
  padding-top: 0rem;
  display: flex;
  justify-content: center; }

/*Style header*/
.header-barra_menu {
  background-color: #8293848b;
  position: sticky; }

/*Fin Style header*/
footer {
  display: flex;
  position: static;
  background-color: #8293848b;
  height: 90px;
  align-items: center;
  justify-content: center; }
  footer .social-media {
    margin-left: 10px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center; }
    footer .social-media .red-social {
      margin-right: 10px;
      height: 50px;
      width: 50px;
      border-radius: 10%; }
      footer .social-media .red-social:hover {
        transform: scale(1.1) translateY(-4px);
        transition: all 0.5s; }

.whatsapp {
  position: fixed;
  bottom: 100px;
  right: 50px;
  height: 50px;
  width: 50px;
  border-radius: 10%;
  z-index: 5; }
  .whatsapp:hover {
    transform: scale(1.5);
    filter: invert(100%);
    transition: all 1s; }

/* FIn style whatsapp */
.galeria-principal {
  margin: 3%; }

.index-galeria-secundaria {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px; }
  .index-galeria-secundaria .index-galeria-secundaria .imagen-bebe {
    height: 300px;
    width: 300px;
    margin-left: 50px; }
    .index-galeria-secundaria .index-galeria-secundaria .imagen-bebe:hover {
      transform: scale(2);
      transition: all 3s; }
  .index-galeria-secundaria .index-galeria-secundaria .mapa {
    width: 500%; }

/*Estilos de la galeria*/
.portfolio-galeria {
  display: flex;
  /*Estilos del modal*/ }
  .portfolio-galeria .portfolio-galeria-imagenes_cuadradas {
    width: 100%;
    margin: 10px;
    list-style: none;
    padding: 10px;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .portfolio-galeria .portfolio-galeria-imagenes_cuadradas img {
      margin: 0.75rem;
      width: 15rem;
      display: flex;
      overflow: hidden; }
  .portfolio-galeria .portfolio-galeria-imagenes_individuales {
    margin: auto;
    display: flex;
    justify-content: center; }
    .portfolio-galeria .portfolio-galeria-imagenes_individuales .imagenes_individuales {
      display: none; }
      .portfolio-galeria .portfolio-galeria-imagenes_individuales .imagenes_individuales:target {
        display: block;
        position: fixed;
        background: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: scroll; }
      .portfolio-galeria .portfolio-galeria-imagenes_individuales .imagenes_individuales .imagen {
        display: flex;
        justify-content: center;
        align-items: center; }
        .portfolio-galeria .portfolio-galeria-imagenes_individuales .imagenes_individuales .imagen img {
          display: block;
          max-width: 100%;
          padding: 4rem;
          border: none; }
  .portfolio-galeria .cerrar {
    background: white;
    display: flex;
    justify-content: center;
    width: 1rem;
    height: 1rem; }

.producto-container {
  display: flex;
  justify-content: space-around; }

.producto {
  border-style: groove;
  border-color: rgba(200, 204, 186, 0.544);
  width: 350px;
  margin: 10px; }

.producto-pagina {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px; }

.producto-titulo {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }

.producto-detalles {
  margin: 0px 10px;
  text-align: justify;
  display: flex;
  align-items: center; }

.producto-precio {
  color: #212320;
  margin: 10px 10px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  display: flex;
  align-items: center; }

.about-container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px; }

.about-imagen {
  width: 600px;
  margin-right: 20px;
  display: flex; }

.about-descripcion {
  width: 600px;
  margin-left: 20px;
  margin: 10px 10px;
  font-size: 18px;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: justify;
  display: flex;
  align-items: center; }

.formulario-parte-central {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1150px;
  width: 100%; }

.formulario-container {
  height: 400px;
  width: 600px; }
