
    @import "BASE/coleurs";
    @import "BASE/fonts";
    @import "BASE/header";
    @import "BASE/footer";

  .galeria-principal {
    margin: 3%; }
  
  .index-galeria-secundaria {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; 
    .index-galeria-secundaria .imagen-bebe {
      height: 300px;
      width: 300px;
      margin-left: 50px; 
        &:hover {
            transform: scale(2);
            transition: all 3s; 
        }
    }

    .index-galeria-secundaria .mapa {
      width: 500%; }

}

