
main {
	display: block;
	margin-top: 200px;
	
	.portfolio-galeria {
		display: flex;
		justify-content: center;
		margin-top: 2rem;


		.portfolio-galeria-imagenes_cuadradas {
			width: 100%;
			margin: 10px;
			list-style: none;
			padding: 10px;
			box-sizing: content-box;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
			img {
			margin: 0.75rem;
			width: 15rem;
			display: flex;
			overflow: hidden;
			&:hover {
				transform: scale(1.5);
				transition: all 0.5s; 
			  }			
			}
		}
	}
}