
main {
	display: block;
	margin-top: 200px;
	
	.portfolio-galeria {
		display: flex;
		justify-content: center;
		margin-top: 2rem;


		.portfolio-galeria-imagenes_cuadradas {
			width: 100%;
			margin: 10px;
			list-style: none;
			padding: 10px;
			box-sizing: content-box;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			
			img {
			margin: 0.75rem;
			width: 15rem;
			display: flex;
			overflow: hidden;
			}
		}


		.portfolio-galeria-imagenes_individuales{
			margin: auto;
			display: flex;
			justify-content: center;
			.imagenes_individuales {
				display: none;
				&:target {
				display: block;
				position:fixed;
				background: rgba(0,0,0,0.8);
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: scroll;
				}
				.imagen {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						display:block;
						max-width: 100%;
						padding: 4rem;
						border: none;
					}
				}
				.cerrar {
					background: rgb(255, 255, 255);
					display:flex;
					justify-content: center;
					width: 1rem;
					height: 1rem;
				}
			}
		}
	}
}