.producto-container{
    display: flex;
    justify-content: space-around;
 }
  
 .producto{
    border-style:groove;
    border-color:rgba(200, 204, 186, 0.544);
    width: 350px;
    margin: 10px;
 }
  
 .producto-pagina{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
 }
  
 .producto-titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
 }
  
 .producto-detalles{
  
    margin: 0px 10px;
    text-align: justify;
    display: flex;
    align-items: center;
 }
  
 .producto-precio{
    color: rgb(33, 35, 32);
    margin: 10px 10px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    display: flex;
    align-items: center;
 }
  

